<div class="grid__item large--one-half">
  <h3>Apple Compatibility</h3>
  <div class="device-icon">
    <img src="{{ 'icon_iphone.png' | asset_url }}" alt=""/>
  </div>
  <ul class="compatibility-list">
    <li>
      <b>iPhone 6 Plus / 6s Plus</b>
      (iOS 9.x)
    </li>
    <li>
      <b>iPhone 6 / 6s</b>
      (iOS 9.x)
    </li>
    <li>
      <b>iPhone 5 / 5s</b>
      (iOS 9.x)
    </li>
    <li>
      <b>iPhone 4s</b>
      (iOS 9.x)
    </li>
  </ul>
  <div class="device-icon">
    <img src="{{ 'icon_ipod.png' | asset_url }}" alt=""/>
  </div>
  <ul class="compatibility-list">
    <li>
      <b>iPod Touch 5G</b>
      (iOS 9.x)
    </li>
  </ul>
  <div class="device-icon">
    <img src="{{ 'icon_ipad.png' | asset_url }}" alt=""/>
  </div>
  <ul class="compatibility-list">
    <li>
      <b>iPod Air / Air 2</b>
      (iOS 9.x)
    </li>
    <li>
      <b>iPod Mini</b>
      (iOS 9.x)
    </li>
  </ul>
</div>
<div class="grid__item large--one-half">
  <h3>Android Compatibility</h3>
  <p class="h4">Tested for compatibility with the following Android devices:</p>
  <div class="device-icon">
    <img src="{{ 'icon_android_phone.png' | asset_url }}" alt=""/>
  </div>
  <ul class="compatibility-list">
    <li>
      <b>Samsung Note 3</b>
      (Android 5.x)
    </li>
    <li>
      <b>Galaxy S6 / S5 / S4 / S3</b>
      (Android 5.x)
    </li>
    <li>
      <b>HTC One M7</b>
      (Android 4.x)
    </li>
    <li>
      <b>Jitterbug Touch 3 / 2</b>
      (Android 4.x)
    </li>
  </ul>

  <h3>AliveECG App</h3>
  <p class="h4">
  Use of AliveCor ECG requires the companion app AliveECG, available for download in the <a href="">App Store</a> and <a href="">Google Play</a>
  </p>

  <div class="app-store-badges">
    <a class="itunes-badge" href="https://itunes.apple.com/app/aliveecg/id579769143"><img src="https://alivecorcms.s3.amazonaws.com/sites/51b0fa1d9005a1000f00292e/theme/images/appstore-badge.svg" alt="link to AppStore"></a>
    <a href="https://play.google.com/store/apps/details?id=com.alivecor.aliveecg"><img src="https://developer.android.com/images/brand/en_app_rgb_wo_45.png" alt="Android app on Google Play"></a>
  </div>
</div>
