<a name="tabs"></a>
<div class="targets clearfix">

  <a name="compatibility"></a>
  <div class="accordion" id="compatibility">
    <h3>Compatibility</h3>
    <a class="toggler">
      <i class="fa fa-angle-double-right"></i>
    </a>
    <div class="accordion-inner hidden">
      {% include 'compatibility' %}
    </div>
  </div>

  <a name="specs"></a>
  <div class="accordion" id="specs">
    <h3>Tech Specs</h3>
    <a class="toggler">
      <i class="fa fa-angle-double-right"></i>
    </a>
    <div class="accordion-inner hidden">
      {% include 'tech-specs' %}
    </div>
  </div>

  <a name="reviews"></a>
  <div class="accordion" id="reviews">
    <h3>Reviews</h3>
    <a class="toggler">
      <i class="fa fa-angle-double-right"></i>
    </a>
    <div class="accordion-inner hidden">
      {% include 'reviews' product=product %}
    </div>
  </div>

</div>

<script>
  var bannerHeight = 62;

  function scrollToAnchor(anchorId) {
    var aTag = $("a[name='"+ anchorId +"']");
    $('html, body').animate({
      scrollTop: aTag.offset().top - bannerHeight
    }, 1000);
  }

  jQuery(function($) {

    //toggle accordians
    $('.tab').on('click', function(e) {
      e.preventDefault();
      var target = $(e.target).data('target');
      $('.target').removeClass('selected');
      $(target).addClass('selected');
      $('.tab').removeClass('active');
      $(e.target).parent('li').addClass('active');
    });

    //scroll to tabs on page load  if there is a hash
    var hash = window.location.hash
    if (hash.length > 0) {
      var split = hash.split('#')
        window.setTimeout(function() {
          scrollToAnchor(split[1]);
          $(hash).click();
        }, 500);
    }

    //scroll to tabs when you click on this class
    $('.scroll-to-tab').on('click', function(e) {
      e.preventDefault();
      var hash = e.currentTarget.hash
      var split = hash.split('#');
      scrollToAnchor(split[1]);
      $(hash).click();
    });

    $('.accordion').on('click', function(evt) {
      var _this = $(this);
      _this.find('.accordion-inner').slideToggle();
      _this.find('i').toggleClass('fa-angle-double-right fa-angle-double-down');
    });

  });

</script>
