<div class="wrapper">
  <a name="tabs"/>
  <nav class="product-tabs">
    <ul>
      <li class="active tab" ><a id="compatibility" href="#tab-1" data-target="#tab-1">Compatibility</a></li>
      <li class="tab"><a id="specs" href="#tab-2" data-target="#tab-2">Tech Specs</a></li>
      <li class="tab"><a id="reviews" href="#tab-3" data-target="#tab-3">Reviews</a></li>
    </ul>
  </nav>
  <div class="targets clearfix">
    <div id="tab-1" class="target selected">
      {% include 'compatibility' %}
    </div>
    <div id="tab-2" class="target">
      {% include 'tech-specs' %}
    </div>
    <div id="tab-3" class="target">
      {% include 'reviews' product=product %}
    </div>
  </div>
</div>
<script>
  function scrollToAnchor(anchorId) {
    var aTag = $("a[name='"+ anchorId +"']");
    $('html, body').animate({scrollTop: aTag.offset().top});
  }

  jQuery(function($) {

    $('.tab').on('click', function(e) {
      e.preventDefault();
      var target = $(e.target).data('target');
      $('.target').removeClass('selected');
      $(target).addClass('selected');
      $('.tab').removeClass('active');
      $(e.target).parent('li').addClass('active');
    });

    //hash will be "#review-tabs"
    var hash = window.location.hash
    var split = hash.split('-')
    if (split.length === 2) {
      $(split[0]).click();
      scrollToAnchor('tabs');
    }

    $('.scroll-to-tab').on('click', function(e) {
      var hash = e.currentTarget.hash
      var split = hash.split('-')
      if (split.length === 2) {
        $(split[0]).click();
        scrollToAnchor('tabs');
      }
    })

  });
</script>
