<a name="tabs"></a>
<div class="targets clearfix">

  <a name="compatibility"></a>
  <div class="accordion" id="compatibility">
    <h3>{{ 'product_tabs.compatibility' | t }}
      <a class="toggler">
        <i class="fa fa-angle-double-right"></i>
      </a>
    </h3>
    <div class="accordion-inner hidden">
      {% include 'compatibility' %}
    </div>
  </div>

  <a name="specs"></a>
  <div class="accordion" id="specs">
    <h3>{{ 'product_tabs.tech_specs' | t }}
      <a class="toggler">
        <i class="fa fa-angle-double-right"></i>
      </a>
    </h3>
    <div class="accordion-inner hidden">
      {% include 'tech-specs' %}
    </div>
  </div>

  <a name="reviews"></a>
  <div class="accordion" id="reviews">
    <h3>{{ 'product_tabs.reviews' | t }}
      <a class="toggler">
        <i class="fa fa-angle-double-right"></i>
      </a>
    </h3>
    <div class="accordion-inner hidden">
      {% include 'reviews' product=product %}
    </div>
  </div>

</div>

<script>
  var bannerHeight = 62;

  function scrollToAnchor(anchorId) {
    var aTag = $("a[name='"+ anchorId +"']");
    $('html, body').animate({
      scrollTop: aTag.offset().top - bannerHeight
    }, 1000);
  }

  jQuery(function($) {

    //scroll to tabs on page load  if there is a hash
    var hash = window.location.hash
    if (hash.length > 0) {
      var split = hash.split('#')
      window.setTimeout(function() {
        scrollToAnchor(split[1]);
        $(hash + ' h3').click();
      }, 500);
    }

    //scroll to tabs when you click on this class
    $('.scroll-to-tab').on('click', function(e) {
      e.preventDefault();
      var hash = e.currentTarget.hash
      var split = hash.split('#');
      scrollToAnchor(split[1]);
      $(hash).click();
    });

    $('.accordion h3').on('click', function(evt) {
      var _this = $(this).parent('.accordion');
      _this.find('.accordion-inner').slideToggle();
      _this.find('i').toggleClass('fa-angle-double-right fa-angle-double-down');
    });

  });

</script>
