<div class="grid__item large--one-half tech-specs">
  <h3>Tech Specs</h3>
  <ul>
    <li><b>Dimensions</b></li>
    <li>8.2 cm x 3.2 cm x 0.35 cm</li>
    <li>2 3 cm x 3cm stainless-steel electrodes</li>
  </ul>

  <ul>
    <li><b>Weight</b></li>
    <li>18 grams</li>
  </ul>

  <ul>
    <li><b>Power</b></li>
    <li>3V CR2016 coin cell battery (included)</li>
    <li>200 hours operational time</li>
    <li>12 months typical use</li>
  </ul>

  <ul>
    <li><b>ECG Characteristics</b></li>
    <li>Single Lead ECG</li>
    <li>10 mV peak-to-peak input dynamic range</li>
    <li>30 second to 5 minute recording duration</li>
    <li>300 samples per second sampling rate</li>
    <li>16 bit resolution</li>
  </ul>
</div>

<div class="grid__item large--one-half tech-specs">
  <h3>Requirements</h3>
  <ul>
    <li>Compatible Apple or Android device</li>
    <li>AliveECG app</li>
  </ul>
  <div class="app-store-badges">
    <a class="itunes-badge" href="https://itunes.apple.com/app/aliveecg/id579769143"><img src="https://alivecorcms.s3.amazonaws.com/sites/51b0fa1d9005a1000f00292e/theme/images/appstore-badge.svg" alt="link to AppStore"></a>
    <a href="https://play.google.com/store/apps/details?id=com.alivecor.aliveecg"><img src="https://developer.android.com/images/brand/en_app_rgb_wo_45.png" alt="Android app on Google Play"></a>
  </div>

  <h3>User Manuals</h3>
  <ul>
    <li><a href="https://alivecorcms.s3.amazonaws.com/sites/51b0fa1d9005a1000f00292e/content_entry51b0fa2533c901000f002a62/53288a2e21c54eb2870016b2/files/08LB05.O_-_iOS_User_Manual.pdf">AliveCor Mobile ECG for iOS</a></li>
    <li><a href="https://alivecorcms.s3.amazonaws.com/sites/51b0fa1d9005a1000f00292e/content_entry51b0fa2533c901000f002a62/532888c521c54ec96c00198e/files/09LB08.P_-_Android_User_Manual.pdf">AliveCor Mobile ECG for Android</a></li>
  </ul>
</div>
